<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div style="width: 500px" id="reader"></div>
  <div>
    <form action="/students/check" method="POST" id="form">
      <input type="hidden" name="code" placeholder="Kode beasiswa" id="result">
    </form>
  </div>
  <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
  <script>
    const onScanSuccess = (decodedText, decodedResult) => {
      let result = document.getElementById('result').value = decodedText;
      document.getElementById('form').submit();
    }
    const onScanFailure = (error) => {
      console.warn(`Code scan error = ${error}`);
    }
    let html5QrcodeScanner = new Html5QrcodeScanner(
      "reader", {
        fps: 10,
        qrbox: {
          width: 200,
          height: 200
        }
      },
      false);
    html5QrcodeScanner.render(onScanSuccess, onScanFailure);
  </script>
</body>

</html>