<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div>
    <video id="qr-code"></video>
  </div>
  <script type="module">
    import QrScanner from '../javascripts/qr-scanner.min.js';
    const videoElem = document.getElementById('qr-code');
    const qrScanner = new QrScanner(
      videoElem,
      result => console.log('decoded qr code:', result), {
        highlightScanRegion: true,
        highlightCodeOutline: true,
        maxScansPerSecond: 5
      },
    );
      qrScanner.start();
  </script>
</body>

</html>